# Environment variables
.env

# Local portfolio data
config.yaml
*.db
portfolio_data.json
portfolio_data.yaml

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Logs
logs/
*.log

# Backups and Exports
backup/
exports/

# PyInstaller
build/
dist/
*.spec
