# Environment variables
.env

# Database
*.db
portfolio.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Logs
logs/
*.log

# Backups and Exports
backup/
exports/

# PyInstaller
build/
dist/
*.spec
